body{  font-family: 'Noto Serif', serif; margin: 0px; padding: 0px; overflow-x: hidden;}
.container {
  padding-top: 50px;
}
.container-fluid.main{ padding: 0px;}
.yellow {
  background: #ffff00;
}

#header{ width: 100%; float: left; text-align: center; padding: 10px 0 20px; background: #0099CC;}
#header h2{
  width: 100%; text-align: center; color: #fff;
}
#footer{ width: 100%; float: left; text-align: center; padding: 20px 0 10px; background: #33b5e5; position: fixed; bottom: 0px;}
#footer p{
  width: 100%; text-align: center; color: #fff;
}

.jumbotron{ width:50%; float: left; margin: 25px 25%; box-shadow: 0 0 5px #000; background: rgb(255,255,255);}
.jumbotronContent{ width: 100%; float: left; text-align: center; padding: 100px 0 120px;}
.jumbotronContent h1{ width: 100%; float: left; text-align: center; font-size: 35px; font-style: italic;}
.todoListDivHead, .todoListDivBody{ width:100%; float: left;}
.todoListDivHead{ background: #33b5e5; width: 100%;}
.todoListDivHead .todoListDivHeadTop{ color: #fff; padding: 8px 15px; margin-bottom: 2px;}
.todoListDivBody{ background: #f7f8f9; border-bottom: solid 1px #fff; color: #000;}
.todoListDivBody.yellowBg{
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.todoListDivBody.greenBg{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.todoListDivBody.redBg{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.todoListDivBody .todoListDivHeadTop{ padding: 8px 15px; margin-bottom: 2px; margin-bottom: 2px;}
.todoListDivBody .todoListDivHeadTop i{ color: #0099CC;}
.todoListDivHeadTop{ width: 15%; float: left; text-align: center;}
.todoListDivHeadTop:first-child{ width: 5%; text-align: left;}
.todoListDivHeadTop:nth-child(2){ width: 35%; text-align: left;}
.addButton{ width: auto; float: left; margin: 25px 0 15px; padding: 6px 30px; font-size: 20px; border-radius: 3px; background: #33b5e5; color: #fff;}
.addButton:hover{ background: #0099CC; text-decoration: none; color: #fff;}
.filterBox{ width: 250px; float: right; position: relative; margin: 25px 0 10px;}
.filterBox span{ width: 100%; float: left; padding: 8px 25px; border: solid 1px #0099CC;}
.filterBox ul{ width: 100%; float: left; text-align: left; position: absolute; left: 0px; top:38px; padding:10px 0px; background: #fff;}
.filterBox ul li{ width: 100%; float: left; padding: 10px 20px; list-style: none; cursor: pointer;}
.todoListDivBody .todoListDivHeadTop input[type="checkbox"].notCheckedInput{
  float: none;
  width: 15px;
  margin: 0px;
  height: 15px;
  background: none;
  border: 1px solid #0099CC;
  outline: none;
  -webkit-appearance: inherit; padding: 10px; border-radius: 4px; cursor: pointer;
}
.todoListDivBody .todoListDivHeadTop input[type="checkbox"].checkedInput{
  float: none;
  width: 15px;
  margin: 0px;
  height: 15px;
  background: none;
  border: 1px solid #0099CC;
  outline: none; cursor: pointer;
  -webkit-appearance: inherit; position: relative; font: normal normal normal 14px/1 FontAwesome; padding: 10px; border-radius: 4px;
}
.todoListDivBody .todoListDivHeadTop input[type="checkbox"].checkedInput:after{
  content: '\f00c'; position: absolute; top: 2px; left: 2px; font-size: 15px; color: #0099CC;
}

#addListForm{ width: 50%; margin: 25px 0 60px 25%; background: #fff; float: left; box-shadow: 0 0 5px #ccc; padding:0 15px 15px; border-radius: 5px;}
#addListForm .formRow{ width: 100%; float: left; margin: 8px 0px;}
#addListForm .formRow label{ width: 100%; float: left; color:  #0099CC;}
#addListForm .formRow input, #addListForm .formRow select{ width: 100%; float: left; padding: 8px 15px; border: solid 1px #f1f2f3;}
#addListForm .formRow button[type="submit"]{  width: auto; float: right; margin: 25px 0 15px; padding: 6px 30px; font-size: 20px; border-radius: 3px; background: #33b5e5; border: solid 1px #33b5e5; color: #fff;}
#addListForm .formRow button[type="submit"]:hover{ background: #0099CC; text-decoration: none; color: #fff;}
.morePadding{ padding-bottom: 60px;}
#addListForm .formRow input.errorBorder, #addListForm .formRow select.errorBorder{ border-color: #a94442;}
#addListForm .formRow input.errorBorder + span, #addListForm .formRow select.errorBorder + span{ color: #a94442;}