<div class="container">
    <div class="row">
        <div class="col-md-12 morePadding">
            <a ui-sref="todo.add" class="addButton">Add</a>
            <div class="filterBox">
                <span ng-click="filterOpen=!filterOpen">{{ vm.selectedFilter }}</span>
                <ul ng-show="filterOpen">
                    <li ng-click="isCompleted = '';vm.selectedFilter = 'All'; filterOpen=!filterOpen">All</li>
                    <li ng-click="isCompleted = true; vm.selectedFilter = 'Complete'; filterOpen=!filterOpen">Complete</li>
                    <li ng-click="isCompleted = false; vm.selectedFilter = 'Incomplete'; filterOpen=!filterOpen">Incomplete</li>
                </ul>
            </div>
            <div class="todoListDivHead">
                <div class="todoListDivHeadTop">Id</div>
                <div class="todoListDivHeadTop" ng-click="vm.sortBy='name';vm.isAsc=!vm.isAsc">Name<i class="fa" ng-class="{'fa-angle-down' : vm.sortBy=='name' && vm.isAsc, 'fa-angle-up' : vm.sortBy=='name' && !vm.isAsc}" aria-hidden="true"></i></div>
                <div class="todoListDivHeadTop" ng-click="vm.sortBy='difference';vm.isAsc=!vm.isAsc">Deadline <i class="fa" ng-class="{'fa-angle-down' : vm.sortBy=='difference' && vm.isAsc, 'fa-angle-up' : vm.sortBy=='difference' && !vm.isAsc}" aria-hidden="true"></i></div>
                <div class="todoListDivHeadTop" ng-click="vm.sortBy='isCompleted';vm.isAsc=!vm.isAsc">Status <i class="fa" ng-class="{'fa-angle-down' : vm.sortBy=='isCompleted' && vm.isAsc, 'fa-angle-up' : vm.sortBy=='isCompleted' && !vm.isAsc}" aria-hidden="true"></i></div>
                <div class="todoListDivHeadTop" ng-click="vm.sortBy='importance';vm.isAsc=!vm.isAsc">Importance <i class="fa" ng-class="{'fa-angle-down' : vm.sortBy=='importance' && vm.isAsc, 'fa-angle-up' : vm.sortBy=='importance' && !vm.isAsc}" aria-hidden="true"></i></div>
                <div class="todoListDivHeadTop">Action </div>
            </div>
            <todo remove="vm.remove(t,$index)" update="vm.save" info="t" ng-repeat="t in vm.todos | filter : {'isCompleted' : isCompleted} | orderBy : vm.sortBy : vm.isAsc"></todo>
        </div>
    </div>


</div>