<div>
    <div id="main" class="todoListDivBody "
         ng-class="{'yellowBg' : info.difference ===0 && info.isCompleted == false,'redBg' : info.difference < 0 && info.isCompleted == false,
          'greenBg' : info.isCompleted}">
        <div class="todoListDivHeadTop">{{info.id}}</div>
        <div class="todoListDivHeadTop">{{info.name}}</div>
        <div class="todoListDivHeadTop">{{info.daysLeft}}</div>
        <div class="todoListDivHeadTop"> <input type="checkbox" ng-model="info.isCompleted" ng-class="info.isCompleted ? 'checkedInput' : 'notCheckedInput'" ng-change="update(info)"></div>
        <div class="todoListDivHeadTop">{{info.importance}}</div>
        <div class="todoListDivHeadTop" ng-click="remove()">
            <i class="fa fa-trash-o" aria-hidden="true" style="cursor: pointer"></i>
        </div>
    </div>

</div>