<div id="addListForm">
    <h3> New Todo</h3>
    <form name="todoForm" ng-submit="vm.save()" autocomplete="off" novalidate="">
        <div class="formRow">
            <label>Name</label>
            <input type="text" name="name" ng-model="vm.todo.name" ng-class="{ 'errorBorder' : todoForm.name.$touched && todoForm.name.$invalid }" required />
            <span ng-show="todoForm.name.$touched && todoForm.name.$invalid" >Task name is required.</span>
        </div>

        <div class="formRow">
            <label>Deadline Date</label>
            <input type="date" name="deadline" ng-model="vm.todo.deadline" ng-class="{ 'errorBorder' : todoForm.deadline.$touched && todoForm.deadline.$invalid }" required="true" />
            <span ng-show="todoForm.deadline.$touched && todoForm.deadline.$invalid" >Deadline is required.</span>
        </div>
        <div class="formRow">
            <label>Importance</label>
            <select name="importance" ng-model="vm.todo.importance" ng-class="{ 'errorBorder' : todoForm.importance.$touched && todoForm.importance.$invalid }" required="">
                <option value="" disabled>Select</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <span ng-show="todoForm.importance.$touched && todoForm.importance.$invalid" >Importance is required.</span>
        </div>
        <div class="formRow">
            <button type="submit" ng-disabled="todoForm.$invalid">{{vm.todo.id ? 'Update' : 'Add'}}</button>
        </div>
    </form>
</div>